.row {
  display: grid;
  text-align: left;
}

.label {
  background: var(--yellow);
  text-transform: uppercase;
}

.bloodied {
  background: var(--red);
}

.soaked {
  background: var(--blue);
}

.legend {
  background: var(--orange);
}

.label,
.value,
.bloodied,
.soaked,
.legend {
  border: 1px solid #000;
  padding: 0.5rem;
}

.value input[type="number"] {
  width: 3rem;
}
