.combatUi {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 3px 3px 18px 0px rgba(0, 0, 0, 0.58);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 90vh;
  text-align: left;
  width: 1200px;
}

.combatUi button {
  background: var(--blue);
}

.player,
.enemy,
.column {
  border-right: 1px solid black;
  overflow: auto;
  padding: 1rem;
}

.enemy h2 {
  align-items: center;
  display: flex;
  gap: 8px;
}

.statsBlock {
  border: 1px solid black;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  overflow: hidden;
  text-align: center;

  button {
    padding: 0.15rem;
  }
}

.inventory {
  white-space: pre-line;
}

.label {
  background: var(--yellow);
  padding: 0.5rem;
}

.value {
  padding: 0.5rem;
}

.abilityBlock {
  border: 1px solid black;
  border-radius: 8px;
  margin: 0.5rem 0;
  overflow: hidden;
}

.abilityBlock h3 {
  background: var(--yellow);
  margin: 0;
  padding: 0.5rem;
}

.maneuver,
.interrupt {
  align-items: center;
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.interrupt {
  grid-template-columns: repeat(3, auto);
}

.maneuver div,
.interrupt div {
  padding: 0.5rem;
}

.diceset {
  white-space: nowrap;
}

.counterBlock {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.fatigue,
.shiftAdj {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.counter {
  align-items: center;
  border: 1px solid black;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.diceBlock {
  border-bottom: 1px solid black;
}

.header {
  align-items: center;
  background: var(--yellow);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;

  h3 {
    margin: 0;
  }
}

.diceRow {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;

  .die {
    align-items: center;
    display: flex;

    button {
      padding: 0.25rem;
    }

    > div {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
}

.log {
  padding: 0.5rem;

  h3 {
    margin: 0;
  }

  .messages {
    display: flex;
    flex-direction: column;
    max-height: 330px;
    overflow: auto;
  }
}

.dead div {
  align-items: center;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 3px 3px 18px 0px rgba(0, 0, 0, 0.58);
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  width: 1200px;
}

::backdrop {
  background: rgba(0, 0, 0, 0.25);
}

.options {
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  text-align: center;

  label {
    flex: 1;
  }
}

.modifier {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin: 1rem 0;

  input {
    width: 3rem;
  }
}

.targetName {
  align-items: center;
  display: flex;
  justify-content: space-between;

  h2 {
    margin: 0;
  }
}

.throwLog {
  display: flex;
  flex-direction: column;
  max-height: 330px;
  padding: 0.5rem;
}
