* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.uiWrapper {
  display: flex;
  gap: 20px;
}

.tabs {
  width: 602px;
}

.gameLog {
  border-left: 1px solid #9d9d9d;
  height: 800px;
  overflow: auto;
  padding: 1rem;
  text-align: left;
  white-space: pre-line;
  width: 480px;
}

.gameLog button {
  padding: 0;
}

.exitShaft {
  align-items: center;
  background: white;
  border: 1px solid black;
  display: flex;
  height: 20px;
  justify-content: center;
  position: absolute;
  width: 20px;
}
